# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*
frontend/.osp/
frontend/components.d.ts
frontend/src/components.d.ts

# Dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# Build
frontend/dist
frontend/dist-ssr
frontend/*.local

# Editor directories and files
frontend/.vscode/*
frontend/!.vscode/extensions.json
frontend/.idea
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?


# Environment variables
frontend/.env
frontend/.env.local
frontend/.env.*.local

# Vite temporary files
vite.config.js.timestamp-*
vite.config.js.timestamp-*.mjs
*.timestamp-*.mjs
*.timestamp-*

# Vite cache
.cache/
.temp/
cookies.txt


# Vendor directory - РАБОЧИЙ ВАРИАНТ
backend/vendor/**/*
!backend/vendor/.gitkeep

backend/.phpunit.cache
backend/node_modules
backend/public/build
backend/public/hot
backend/public/storage
backend/storage/*.key
backend/storage/pail

backend/.env
backend/.env.backup
backend/.env.production
backend/.phpactor.json
backend/.phpunit.result.cache
backend/Homestead.json
backend/Homestead.yaml
backend/npm-debug.log
backend/yarn-error.log
backend/auth.json
backend/.fleet
backend/.idea
backend/.nova
backend/.vscode
backend/.zed
backend/.osp

backups/


