services:
  # 1. PHP-FPM - ОБРАБОТЧИК PHP
  php-fpm:
    build:
      context: ./docker/back
      dockerfile: Dockerfile
    volumes:
      - ./backend:/var/www/html   
   # environment:
   #   - DB_HOST=mysql
   #   - DB_DATABASE=laravel
   #   - DB_USERNAME=root
   #   - DB_PASSWORD=secret

  # 2. NGINX - ВЕБ-СЕРВЕР
  nginx:
    image: nginx:alpine
    ports:
      - "8300:80"  # Локально на 8080 порту
    volumes:
      - ./backend:/var/www/html  
      - ./docker/nginx/dev.conf:/etc/nginx/conf.d/default.conf   
    depends_on:
      - php-fpm
 